/* Fonts style */

h1 {
  color: #d35e56;
  font-size: 6rem;
  margin: auto;
}

h3 {
  color: #fff;
}

a {
  color: #692f2b;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
}

.active {
  text-decoration: none;
  color:#d35e56;
}


/* Layout style */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 25px 35px 25px 0;
}

main {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: azure;
}

